body {
    background-color: white !important;
}.navbar, .navbar, .navbar-expand-md .navbar-light, .fixed-top {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
.navbar-light .navbar-toggler {
    
    border-color: transparent
     !important;
}
.navbar-toggler:focus {
    
    box-shadow: 0 0 0 0 !important;
}

.navbar-light .navbar-toggler:hover {
    border-color: black !important;
}

.cardParagragh {
    /* font-size: 11px !important; */
    text-align: justify;
    margin-bottom: 1px!important;
}

/* .cardParagragh:hover {
    font-size: 22px !important;
} */
.cardParagraghLow {
    text-align: justify;
    font-size: 17px!important;
    margin-top: 1px!important;
}
.cardParagragh2 {
    /* font-size: 10px; */
    text-align: justify
}
/* .cardParagragh2:hover {
    font-size: 17px;
} */

.heroHead {
        margin: 0 ;
        font-size: 48px !important;
        font-weight: 700 !important;
        color: #012970 !important;
      }
.heroHead2 {
        color: #444444;
        margin: 15px 0 0 0;
        font-size: 26px;
      }

      .heroButton {
        background-color: #012970 !important;
      }

      .heroButton:hover {
        background-color: #021a44 !important;
      }

.card2 {
    height: 100%;
}

.savingsDetails, .investmentDetails, .loanDetails {
    text-align: justify;
}

.footerLinkHead {
    font-weight: 700;
    font-size: small;
}
.footerLink{
    font-size: smaller;
    color: rgb(114, 114, 114) !important;
    text-decoration: none !important;
    /* font-size: xx-small; */
    padding-top: 0.3px !important;
    padding-bottom: 0.3px !important;
    margin-top: 0.3px !important;
    margin-bottom: 0.3px !important;
    text-align: justify !important;
}

.footerLink:hover {
    color: black !important;
}

.footerLinkHeadOffice {
    color: rgb(196, 0, 0) !important;
    text-decoration: none;
    font-weight: 700;
    text-align: justify !important;
    font-size: x-small;
}

.slidein {
    /* float:right; */
    animation-duration: 7s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 105%;
    }
    to {
        margin-left: 0%;
    }

    to {
        margin-left: -50%;
    }

    to {
        margin-left: 0%;
    }
}
.ourValue-List {
    /* font-size: x-small; */
}

.ourValue-List:hover {
color: red;
transition: 0.3s ease-in-out;
font-size: large;
}
/* @keyframes lP {
    from {
        margin-right: 0%;
    }
    to {
        margin-right: 60%;
    }
} */

.ourService-Head {
    font-weight: 500 !important;
}

.ourService-List {
    font-size: 20px !important;
    font-weight: 500;
}
.wCU {
    align-items: center;
    justify-self: center;
    justify-content: space-around;
}
.wCU-List {
    /* background-color: white; */
    /* margin: 10px; */
    align-items: center;
    border-radius: 20px;
    /* color: black; */
    padding: 20px;
    text-align: justify;
}

.buttonn {
    align-items: flex-start start !important;
}
.DESALSVG {
    align-items: center;
    background-color: ;
}
.DESALSVG:hover{
position: relative ;
top:3px;}

@media (min-width:767px) {
    
.ourServiceCard {
    background-color: rgb(247, 247, 247);
    width: 40% !important;
    margin: 5% !important;
    /* height: 500px !important; */
    padding: 20px !important;
    border-radius: 40px !important;
    margin-top: 1px !important;
    margin-bottom: 0px !important;
}
}
/* .wEP {
    line-height: 25px!important;
    
} */
.nav-link {
    font-weight: 500;
}
.nav-link:hover {
   font-size: 20px !important;
 
}

@media (max-width:500px) {
    /* img {
        height: 250px;
        width: 230px;
    } */

    .logo {
        height: 80px !important;
        width: 80px !important;
    }
    
    
}
img {
    align-self: center;
}
.cardtext {
   text-align: justify !important;
}


/* 
# About
--------------------------------------------------------------*/ */
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}


/* # Services
--------------------------------------------------------------*/ 
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}
.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}
.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}
.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}
.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}
.services .service-box.blue .read-more {
  color: #2db6fa;
}
.services .service-box.blue:hover {
  background: #2db6fa;
}
.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}
.services .service-box.orange .read-more {
  color: #f68c09;
}
.services .service-box.orange:hover {
  background: #f68c09;
}
.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}
.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}
.services .service-box.green .read-more {
  color: #08da4e;
}
.services .service-box.green:hover {
  background: #08da4e;
}
.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}
.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}
.services .service-box.red .read-more {
  color: #e9222c;
}
.services .service-box.red:hover {
  background: #e9222c;
}
.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}
.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}
.services .service-box.purple .read-more {
  color: #b50edf;
}
.services .service-box.purple:hover {
  background: #b50edf;
}
.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}
.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}
.services .service-box.pink .read-more {
  color: #f51f9c;
}
.services .service-box.pink:hover {
  background: #f51f9c;
}
.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  color: #fff;
}
.services .service-box:hover .icon {
  background: #fff;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
  }
  .features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
  }
  .features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
  }
  .features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
  }
  .features .feture-tabs {
    margin-top: 120px;
  }
  .features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .features .feture-tabs h3 {
      font-size: 28px;
    }
  }
  .features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
  }
  .features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
  }
  .features .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
  }
  .features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
  }
  .features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
  }
  .features .feature-icons {
    margin-top: 120px;
  }
  .features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  @media (max-width: 768px) {
    .features .feature-icons h3 {
      font-size: 28px;
    }
  }
  .features .feature-icons .content .icon-box {
    display: flex;
  }
  .features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
  }
  .features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
  }
  .features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
  }
  